body {
   width: 100%;
   margin: 0;
   padding: 0;
   font-size: 13px;
   width: 100%;
   min-width: 770px;
   background: #B2CCE5;
}
h2, h3, h4, h5, h6 {
   color: #003366;
   line-height: 125%;
}
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 15px; }
h5 { font-size: 14px; }
h6 { font-size: 13px; }

div#mainBanner {
   position: relative;
   top: 0;
   left: 0;
   width: 58.69em;
   min-width: 770px;
   height: 5.34em;
   min-height: 70px;
}
div#mainBanner div#brandingLogo {
   position: absolute;
   top: 0;
   left: 0;
   width: 8.38em;
   height: 5.34em;
   min-height: 70px;
   background: white;
}
div#mainBanner div#brandingLogo img {
   width: 8.38em;
   height: 2.9em;
   border: none;
   padding: 0;
   margin: 1.22em auto 0 auto;
}
div#mainBanner div#headline {
   position: absolute;
   top: 0;
   left: 8.38em;
   width: 46.7em;
   height: 2.21em;
   font-family: sans-serif;
   line-height: 2.21em;
   border-top: none;
   border-left: 0.08em solid black;
   border-right: none;
   border-bottom: 0.08em solid black;
   padding: 0 0 0 0.53em;
   margin: 0;
   color: #CC0000;
}
div#mainBanner div#headline h1 {
   float: left;
   font-size: 1.22em;
   font-family: serif;
   font-weight: 800;
   color: black;
   text-decoration: underline;
   cursor: pointer;
   margin: 0 0.53em 0 0;
   padding: 0;
}
div#mainBanner div#headline span.versionCount {
   font-size: 1.07em;
   font-style: italic;
    color: white;
}
div#mainBanner img#topEdge {
   position: absolute;
   top: 0;
   right: 0;
   width: 3.81em;
   min-width: 50px;
   height: 2.29em;
   min-height: 29px;
   border: none;
   padding: 0;
   margin: 0;
}
div#mainBanner div#mainControls {
   position: absolute;
   top: 2.21em;
   left: 8.38em;
   min-height: 30px;
   height: 2.21em;
   line-height: 2.21em;
   border-top: none;
   border-right: none;
   border-bottom: none;
   border-left: 0.08em solid black;
   margin: 0;
   padding: 0.455em;
   white-space: nowrap;
  /* color: #FFFFCC;*/
}

/*a:link {color: #FFFFCC;}     /* unvisited link */
/*a:visited {color: #FFFFCC;}  /* visited link */
/*a:hover {color: #CCCC99;}   /* mouse over link */
/*a:active {color: #CCCCFF}   /* selected link */


div#mssArea {
   width: 100%;
   margin: 0;
   padding: 0;
}
div#mssArea div#manuscripts {
   float: left;
   border: 0;
   margin: 0;
   padding: 0;
}
div#mssArea div.panel {
   float: left;
   border: 1px solid black;
   min-height: 250px;
   margin: 0;
   padding: 0;
}

div#mssArea div#bibPanel,
div#mssArea div#critPanel,
div#mssArea div#notesPanel,
div#mssArea div.panel div.panelBanner,
div#mainBanner div#headline,
.viewerHandle {
   background: #6699CC;
}
div#mssArea div.panel div.panelBanner {
   height: 1.6em;
   line-height: 1.6em;
   margin: 0;
   padding: 3px 7px 3px 10px;
   font-family: sans-serif;
   color: black;
   font-weight: 800;
}
div#mssArea div.panel div.panelBanner select.witnessMenu {
   width: 160px;
}
div#mssArea div.mssPanel {
   background: white;
   /* padding-bottom: 5em; */
}
div#mssArea div.mssPanel div.panelBanner {
   border-bottom: 1px solid black;
}
div#mssArea div.panel div.panelBanner img.closePanel {
   float: right;
   cursor: pointer;
   width: 1.4em;
   height: 1.4em;
}
   
div#mssArea div.panel div.mssContent {
   margin: 10px;
   padding: 0;
   line-height: 20px;
}
div#mssArea div.panel div.mssContent div.mssImages {
   float: right;
   width: 24px;
   height: 24px;
   margin: 0;
}
div#mssArea div.panel div.mssContent img.imageLink {
   float: right;
   width: 36px;
   height: 45px;
   margin: 0;
   cursor: pointer;
  /* color: #F9F99B;*/
}





div#mssArea div.panel div.bibContent,
div#mssArea div.panel div.critContent,
div#mssArea div.panel div.noteContent {
   font-family: sans-serif;
   margin: 0 10px 10px 10px;
   line-height: 16px;
   font-size: 11px;
   border: thin solid black;
   background: white;
}
div#mssArea div.panel div.bibContent,
div#mssArea div.panel div.critContent{
   padding: 10px;
}
div#mssArea div.panel div.noteContent {
   padding: 10px 10px 10px 20px;
}
div#mssArea div.panel div#noNotesFound {
   display: none;
   font-weight: 800;
}
div#mssArea div.panel div.noteContent div.witnesses {
   float: right;
   color: #990000;
   font-style: italic;
}
div#mssArea div.panel div.noteContent div.position {
   color: #000066;
   text-decoration: underline;
   cursor: pointer;
   margin-left: -10px;
}

div.head,
div.line,
div.paragraph {
   clear: both;
}
div.line {
   margin: 0 4em 0 2.5em;
   padding: 0;
   cursor: pointer;
}
div.line div.linenumber,
div.line div.emptynumber {
   float: left;
   margin-left: -2.5em;
   width: 2em;
   background: white;
}
div.line div.linenumber {
   text-align: right;
   color: #003366;
   text-decoration: underline;
   cursor: pointer;
}
div.head {
   font-size: 110%;
   color: #003366;
}

div.epigraph {
   text-align: center;
   margin: 4px 25px;
   font-size: 85%; 
}
div.dedication
{
   text-align: center;
   margin: 4px 25px;
   font-size: 85%; 
}

table.mssTable {
   margin: 0 auto 0 auto;
}
table.mssTable td {
   padding: 0 7px;
}

table.mssPanel {
   margin: 0 auto 0 auto;
}
table.mssPanel td {
   padding: 0 7px;
}

 
span.noteicon,
span.choice,
span.rdgGrp {
   cursor: pointer;
   position: relative;
   z-index: 24;
}
span.noteicon {
   bottom: 7px;
   margin-left: 6px;
   margin-right: 6px;
   font-size: 85%;
   color: #003366;
   /* text-decoration: underline; 
   border-bottom: 1px solid #000066;*/
}
/*span.choice,
span.rdgGrp
 {
 color: black;
  background:#e6e6e6;
   border-bottom: thin dashed #666;*/
}

div.head span.noteicon {
   font-size: 74% !important;
}
span.noteicon div.note,
span.choice div.corr,
span.rdgGrp div.altRdg {
   display: none;
   background: #e6e6e6;
}
span.noteicon div.note {
   text-decoration: none !important;
}

span.noteicon:none,
span.choice:hover,
span.rdgGrp:hover {
   z-index: 25 !important;
}
span.noteicon:none div.note,
span.choice:none div.corr,
span.rdgGrp:none div.altRdg {
   display: block;
   position: absolute;
   top: 14px;
   padding: 7px 20px;
   text-decoration: none;
   font-size: 105%;
   color: black;
   text-align: left;
   border: thick solid #003366;;
   background: white;
   font-weight: 400 !important;
}
span.noteicon:hover div.note {
   left: 0;
   min-width: 250px;
   max-width: 500px;
   background: white;
}
span.choice:hover div.corr,
span.rdgGrp:hover div.altRdg {
   left: 0;
   min-width: 175px;
   max-width: 350px;
   background: white;
   font-size: 90%;
}

div.paragraph {
   padding: 4px 0;
   margin: 6px 0 6px 0;
}
div.mssContent div.paragraph {
   margin: 6px 30px 6px 20px;
}

em.label {
   color: #009900;
   font-style: italic;
   font-weight: 800;
   text-transform: capitalize;
}
del {
   text-decoration: line-through;
   color: #330000;
}
ins {
   text-decoration: none;
   color:  #003300;
}
span.unclear { color: #666666;}


.rend-underline, .rend-underscore { text-decoration: underline; }
.rend-italics, .rend-italic { font-style: italic; }
.rend-overstrike, .rend-strikethrough, .rend-strike { text-decoration: line-through; }

.place-above,
.rend-superscript {
   vertical-align: super;
   font-size: 85%;
   line-height: 0px;
}
.place-below {
   vertical-align: sub;
   font-size: 85%;
   line-height: 0px;
}

br.stanzabreak,
div.type-stanza {
   margin-bottom: 25px;
}
.pagebreak {
   margin: 10px auto 10px auto;
   clear: right;
}

.clickable { cursor: pointer; }
.highlighted {
   font-weight: 800;
   background: #FFFF99;
}



.viewerRoot {
   position: absolute;
   width: 38.11em;
   background-color: white;
   border: 0.08em solid black;
   font-family: sans-serif;
   visibility: hidden;
   cursor: move;
   z-index: 999;
}
.viewerHandle {
   clear: both;
   margin: 0;
   padding: 0.32em;
   height: 1.4em;
   line-height: 1.4em;
   color: black;
   font-weight: 800;
   font-family: sans-serif;
   overflow: hidden;
}
span.viewerHandleLt {
   float: left;
   text-align:left;
}
.viewerHandleRt {
   float: right;
   text-align: right;
   cursor: pointer;
   height: 1.22em;
   width: 1.22em;
   margin: 0;
}
.viewerContent {
   margin: 0.75em 0.16em 0.75em 0.16em;
   padding: 0 0.16em 0.16em 0.16em;
   overflow: hidden;
}
.viewerContent img {
   display: block;
   margin: 0 auto 0 auto;
   border: none;
   max-width: 37.5em;
   max-height: 37.5em;
}

div.closer {text-align:center;}
div.section {text-align:center;
font-size: 110%;
   color: #660000;
   text-decoration:underline;

}

/*
a.link:link {text-decoration: none; color: #663300;}     /* unvisited link */
/*a.link:visited {text-decoration: none; color:  #666666;}  /* visited link */
/*a.link:hover {text-decoration: none; color: #CCCC99;}   /* mouse over link */
/*a.link:active {text-decoration: none;     color: #CCCCFF;}   /* selected link */
